.cityImg {
  min-height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: dodgerblue;
  background-blend-mode: multiply;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 5%;
}

.detailHead {
  padding: 0.3% 3%;
}

.weatherDetails h4 {
  padding: 2% 3%;
}

.weatherDetails h4:nth-child(odd) {
  background-color: dodgerblue;
}

.weatherDetails h4:nth-child(even) {
  background-color: deepskyblue;
}

@media screen and (min-width: 768px) {
  .cityImg {
    min-height: 30rem;
  }
}
