@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Martel+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Martel Sans', sans-serif;
  background-color: royalblue;
  color: white;
}

header {
  font-family: 'Lato', sans-serif;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.icons {
  width: 25px;
}

.setting {
  margin-left: 1rem;
}

.titleDiv {
  text-align: center;
  background-image: url('../images/karnataka.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: dodgerblue;
  padding: 3%;
}

.citiesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.citiesHead {
  padding: 1% 4%;
}

.links {
  text-decoration: none;
  color: white;
}

.city {
  padding: 2% 4%;
  text-align: right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: royalblue;
}

.cityHead {
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  header {
    padding: 1%;
  }

  .icons {
    width: 40px;
  }

  .citiesHead {
    padding: 0.3% 2%;
  }

  .citiesList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}